<div class = "ekart--product--container">
<app-search (searchTextChanged)="setSearchText($event)"></app-search>
<product-list [searchText]="searchText" #productListComponent></product-list>
<product-detail *ngIf="productListComponent.selectedProduct" [productListComp]="productListComponent"></product-detail>

<div class="ekart-featured-products">
    <div class="ekart-featured-product-heading">
        <h1>Latest Arrival in Popular Brands</h1>
    </div>
    <featured-brands>
        <h3 class="title">New Arrivals in Nike</h3>
        <button class="call-to-action">Show New Arrival In Nike</button>
    </featured-brands>
    <featured-brands>
        <h3 class="title">New Arrivals in Adidas</h3>
        <button class="call-to-action">Show New Arrival In Adidas</button>
    </featured-brands>
    <featured-brands>
        <h3 class="title">New Arrivals in Reebok</h3>
        <button class="call-to-action">Show New Arrival In Reebok</button>
    </featured-brands>
</div>

</div>
